.rpi-porter-data-container {
    margin-bottom: 20px;
}

.rpi-porter-object-container {
    margin-bottom: 10px;
}

.rpi-porter-object-title {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.rpi-porter-object-content {
    margin-left: 20px;
}

.rpi-porter-entry-row {
    margin-bottom: 5px;
    padding-left: 20px;
}

.rpi-porter-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.progress-container {
    width: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 30px;
    background-color: #4CAF50;
}
